[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"

[dev-packages]
black = "==21.6b0"
pytest = "==6.2.4"

[requires]
python_version = "3.9.6"
